* {
    font-family: "Arvo", serif;
  }

.box{
  border:2px solid black;
  border-radius: 5px;
  width: 25%; 
  height:50%;
  margin:auto;
  margin-top:2.5%;
  margin-left:10%;
  /* margin-right:1%; */
  padding:3%;
  align-items: center;
}
