* {
    font-family: "Arvo", serif;
  }

.box{
  border:2px solid black;
  border-radius: 5px;
  width: 30%; 
  height:60%;
  margin:auto;
  margin-top:5%;
  margin-left:7.5%;
  margin-right:1%;
  align-items: center;
}