{% extends "base.html" %}{% block head %}{{ super() }}

<link rel="stylesheet" href="{{ url_for('static',filename='beauty.css') }}">

{% endblock %}

{% block content %} 
<div class="container">
    <h1 class="mt-4 mb-4">Workout Counts Over Time</h1>

    {% for workout, plot_path in plot_data.items() %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">{{ workout }}</h3>
        </div>
        <div class="card-body">
            <img src="{{ plot_path }}" class="img-fluid" alt="{{ workout }} Plot">
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}